.main {
  height: 100%;
  display: flex;
  width: 100%;
}

.canvas_container {
  padding: 10px;
  height: 100%;
  width: calc(100% - 170px);
  float: right;
}

.canvas_container .canvas {
  cursor: auto;
  box-shadow: 0 0 10px -3px #333;
  border-radius: 10px;
}

/*    PANEL    */

.control_panel {
  width: 170px;
  height: 100%;
  float: left;
  background-color: rgb(33, 44, 48);
  text-align: center;
}

.control_panel .title_panel {
  color: #ffffff;
  font-size: 1.2em;
  padding: 22px 8px;
  font-family: sans-serif;
}

.control_panel button {
  width: calc(100% - 10px);
  background-color: #36464e;
  border: 0;
  padding: 10px 0;
  border-radius: 5px;
  margin: 2px 5px;
  font-size: 1rem;
  color: rgb(132, 159, 172);
  cursor: pointer;
  transition: 150ms color ease-in-out;
}

.control_panel button:hover {
  color: white;
}

.control_panel .information_panel {
  background-color: rgb(48 71 78);
  border: 3px;
  border-style: double;
  color: white;
  border-color: rgb(26 40 44);
  margin: 100px 0px 40px 0px;
}

.control_panel .information_panel ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.control_panel .information_panel ul li {
  padding: 12px 0 12px 5px;
  color: rgb(132, 159, 172);
  font-size: 1.1rem;
}

.control_panel .information_panel ul li span {
  padding: 12px 0;
  white-space: nowrap;
  color: white;
}

.control_panel .xPos {
  font-size: 1.1rem;
  color: white;
}
